<section class="content invoice">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Invoice
          <small>Welcome to Oreo</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> Oreo</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
          <li class="breadcrumb-item active">Invoice</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>{{tabStep}}</strong></h2>
            <ul class="header-dropdown">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="javascript:void(0);">Print Invoices</a></li>
                  <li role="presentation" class="divider"></li>
                  <li><a href="javascript:void(0);">Export to XLS</a></li>
                  <li><a href="javascript:void(0);">Export to CSV</a></li>
                  <li><a href="javascript:void(0);">Export to XML</a></li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
            <h3 class="m-b-0">Numéro de facture: <strong class="text-primary">#{{invoiceMeta.billNum}}</strong></h3>
            <ul class="nav nav-tabs">
              <li class="nav-item inlineblock"><a class="nav-link active" data-toggle="tab" href="#createInvoice" aria-expanded="true">Create</a></li>
              <li class="nav-item inlineblock"><a class="nav-link" data-toggle="tab" href="#notes" aria-expanded="false">Preview</a></li>
              <li class="nav-item inlineblock"><a class="nav-link" data-toggle="tab" href="#history" aria-expanded="false">Status</a></li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane in active" id="createInvoice" aria-expanded="true">
            
            <div class="card" id="createInvoice">
              <div class="body">
                <form #invoiceDataMeta="ngForm">
                  <div class="row">
                    <div class="col-md-4 col-sm-6">
                      <!-- <form #invoiceDataMeta="ngForm"> -->
                        <strong>
                          <span contenteditable="true" name="client" [(ngModel)]="invoiceMeta.client"></span>
                        </strong> <br>
                        <abbr title="Address">A:</abbr> <span contenteditable="true" name="address" [(ngModel)]="invoiceMeta.address"></span><br>
                        <abbr title="Phone">P:</abbr> <span contenteditable="true" name="phone" [(ngModel)]="invoiceMeta.phone"></span>
                      <!-- </form> -->
                    </div>
                    <div class="col-md-6 offset-2 col-sm-6 text-right">
                      <p class="m-b-0" contenteditable="true"><strong>Order Date: </strong> <span contenteditable="true" name="date" [(ngModel)]="invoiceMeta.date"></span></p>
                      <p class="m-b-0"><strong>Order Status: </strong> <span class="badge bg-orange">Pending</span></p>
                      <p><strong>Order ID: </strong> #<span contenteditable="true" name="billNum" [(ngModel)]="invoiceMeta.billNum"></span></p>
                    </div>
                  </div>
                </form>
                <div class="mt-40"></div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table table-hover" id="invoiceTable" >
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Item</th>
                          <!-- <th></th> -->
                          <th class="hidden-sm-down">Description</th>
                          <th>Quantity</th>
                          <th class="hidden-sm-down">Unit Cost</th>
                          <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let invoice of invoiceList; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{invoice.title}}</td>
                            <td class="hidden-sm-down">{{invoice.desc}}</td>
                            <td>{{invoice.qty}}</td>
                            <td class="hidden-sm-down">{{invoice.unit}}</td>
                            <td>{{invoice.total}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <button class="btn btn-lg btn-primary m-l-50 m-t-10" (click)="newRow()">
                          <i class="zmdi zmdi-plus"></i>
                        </button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <h5>Note</h5>
                        <p contenteditable="true" name="notes" [(ngModel)]="invoiceMeta.notes"></p>
                      <!-- <pre>
                        {{ invoiceDataMeta.value | json }}
                      </pre> -->
                  </div>
                  <div class="col-md-6 text-right">
                    <p class="m-b-0"><b>Sub-total:</b> {{getSubtotal()}}</p>
                    <p class="m-b-0">Discout: 0%</p>
                    <p class="m-b-0">VAT: {{vat}}%</p>
                    <h3 class="m-b-0 m-t-10">CAD {{grandTotal}}</h3>
                  </div>
                </div>
                <hr>
                <div class="hidden-print col-md-12 text-right">
                  <button class="btn btn-warning btn-icon  btn-icon-mini btn-round"><i class="zmdi zmdi-print"></i></button>
                  <button class="btn btn-primary btn-round">Enregistrer</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div role="tabpanel" class="tab-pane" id="notes" aria-expanded="false">
            <div class="row clearfix">
              <div class="col-lg-6 col-md-12">
                <div class="card">
                  <div class="header">
                    <h2><strong>ID:</strong> 25822</h2>
                    <small>Created at: 8 Jan, 2018</small>
                  </div>
                  <div class="body">
                    <h6>This is Note</h6>
                    <p class="m-b-0">Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                      Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                      pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                      sadipscing mel.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card">
                  <div class="header">
                    <h2><strong>ID:</strong> 25823</h2>
                    <small>Created at: 19 Dec, 2017</small>
                  </div>
                  <div class="body">
                    <h6>This is Note</h6>
                    <p class="m-b-0">Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                      Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                      pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                      sadipscing mel.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card">
                  <div class="header">
                    <h2><strong>ID:</strong> 25824</h2>
                    <small>Created at: 18 Dec, 2017</small>
                  </div>
                  <div class="body">
                    <h6>This is Note</h6>
                    <p class="m-b-0">Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                      Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                      pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                      sadipscing mel.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card">
                  <div class="header">
                    <h2><strong>ID:</strong> 25825</h2>
                    <small>Created at: 19 Dec, 2017</small>
                  </div>
                  <div class="body">
                    <h6>This is Note</h6>
                    <p class="m-b-0">Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                      Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                      pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                      sadipscing mel.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <button class="btn btn-primary btn-round">Add Note</button>
              </div>
            </div>
          </div> -->
          <!-- <div role="tabpanel" class="tab-pane" id="history" aria-expanded="false">
            <div class="card" id="createInvoice">
              <div class="body">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <address>
                      <strong>ThemeMakker Inc.</strong><br>
                      795 Folsom Ave, Suite 546<br>
                      San Francisco, CA 54656<br>
                      <abbr title="Phone">P:</abbr> (123) 456-34636
                    </address>
                  </div>
                  <div class="col-md-6 col-sm-6 text-right">
                    <p class="m-b-0"><strong>Order Date: </strong> Jun 15, 2018</p>
                    <p class="m-b-0"><strong>Order Status: </strong> <span class="badge bg-orange">Pending</span></p>
                    <p><strong>Order ID: </strong> #123456</p>
                  </div>
                </div>
                <div class="mt-40"></div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Description</th>
                          <th>Date</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>1</td>
                          <td>Invoice Created</td>
                          <td>18 Dec, 2017</td>
                          <td><span class="badge badge-default">Panding</span></td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>Invoice Sent</td>
                          <td>19 Dec, 2017</td>
                          <td><span class="badge badge-default">Panding</span></td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>Invoice Paid</td>
                          <td>20 Dec, 2017</td>
                          <td><span class="badge badge-success">Success</span></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
