@import "../../../assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css";
@import "../../../assets/plugins/bootstrap-select/css/bootstrap-select.css";
.form-control{
    border-radius: 3px !important;
}
.btn{
    margin-top: 0px !important;
}
.icon-btn{
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    box-sizing: border-box;
    background: transparent;
    color: #9E9E9E;
    display: inline-block;
    /* font-size: 11px; */
    font-weight: 500;
    height: 32px;
    /* line-height: 30px; */
    margin: 0 0 0 10px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease;
    vertical-align: middle;
    width: initial;
}
.icon-btn:hover{
    color: #fff;
    border: none;
}
.material-icons{
    font-size: 1.1rem;
}