<section class="content">
  <div class="block-header">
      <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12">
              <h2>Google Maps
                  <small>Taken from <a href="https://developers.google.com/maps/" target="_blank">developers.google.com/maps</a> &amp; <a href="https://hpneo.github.io/gmaps/" target="_blank">hpneo.github.io/gmaps</a></small>
              </h2>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12">
              <ul class="breadcrumb float-md-right">
                  <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0);">Maps</a></li>
                  <li class="breadcrumb-item active">Google Maps</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="container-fluid"> 
      <!-- Google Maps -->
      <div class="alert alert-warning"> You need to get <b>Google Map API Key</b> for display maps with <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" class="alert-link text-info" target="_blank">this link</a>. </div>
      <!-- Basic Example -->
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                  <div class="header">
                      <h2> <strong>Basic</strong> Example </h2>
                      <ul class="header-dropdown">
                          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="javascript:void(0);">Action</a></li>
                                  <li><a href="javascript:void(0);">Another action</a></li>
                                  <li><a href="javascript:void(0);">Something else</a></li>
                              </ul>
                          </li>
                          <li class="remove">
                              <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="body">
                      <div id="gmap_basic_example" class="gmap"></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- #END# Basic Example --> 
      <!-- Markers -->
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                  <div class="header">
                      <h2> <strong>Markers</strong> </h2>
                      <ul class="header-dropdown">
                          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="javascript:void(0);">Action</a></li>
                                  <li><a href="javascript:void(0);">Another action</a></li>
                                  <li><a href="javascript:void(0);">Something else</a></li>
                              </ul>
                          </li>
                          <li class="remove">
                              <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="body">
                      <div id="gmap_markers" class="gmap"></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- #END# Markers -->        
      <!-- Panorama (Street View) -->
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                  <div class="header">
                      <h2> <strong>Panorama</strong> (Street View) </h2>
                      <ul class="header-dropdown">
                          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="javascript:void(0);">Action</a></li>
                                  <li><a href="javascript:void(0);">Another action</a></li>
                                  <li><a href="javascript:void(0);">Something else</a></li>
                              </ul>
                          </li>
                          <li class="remove">
                              <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="body">
                      <div id="gmap_panorama" class="gmap"></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- #END# Panorama (Street View) --> 
  </div>
</section>